.recipe{
    border-radius: 10px;
    box-shadow: 0px 5px 20px black;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    align-items: center;
    min-width: 40%;
}

.image{
    border-radius: 50%;
    width: 100px;
    height: 100px;

}

.dietLabels{
    border-radius: 70%;
    height: 60px;
    background-color: greenyellow;
}

.ingredients{
    width: 80%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.caloriesCard{
    border-radius: 10px;
    box-shadow: 0px 5px 20px black;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: wheat;
    align-items: center;
    min-width: 40%;
}